* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0a2730;
  height: 145px;
  width: auto;
  /*  padding: 35px 35px;  */
}

#square {
  width: 300px;
  height: 55px;
  background: #3eb7de;
  position: relative;
  top: 60px;
  left: 20px;
  border: white;
  border-style: solid;
  border-width: 1px;
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  color: #0a2730;
  margin: 0;
  position: relative;
  top: 9px;
  left: 30px;
}

header nav {
  float: right;
  margin: 1px 0;
}

header ul {
  list-style-type: none;
  width: 500px;
}

header li {
  font-size: 25px;
  width: 450px;
  color: #3eb7de;
}

header a {
  color: #3eb7de;
  text-decoration: none;
}

header ul li a {
  border-bottom: #3eb7de;
  border-style: solid;
  border-width: 3px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 10px;
  font-weight: bold;
  font-size: 22px;
  padding: 5px;
  position: relative;
  top: -30px;
  /* justify-content: space-around; */
}

.section {
  display: flex;
  margin: 20px;
  /* flex-direction: row;; */
}

.sections {
  margin: 0px 50px;
}

.first-column {
  width: 200px;
}

.second-column {
  width: 1000px;
  border-left: 2px solid black;
  padding-left: 20px;
}

.second-column #paul-photo {
  height: 15vw;
  background-image: url("/assets/images/Paul.jpeg");
  background-size: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e4e9eb;
}

#image-box-text-1 {
  height: 25vw;
  background-image: url("/assets/images/road.jpg");
  background-size: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#square-2 {
  width: 380px;
  height: 60px;
  background: #3eb7de;
  margin-top: 130px;
}

/*
#boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
}
*/
/*

#big-box img {
  max-width: 91%;
  height: auto;  */
/*  align-items: center; */
/* border: #3eb7de;
  border-style: solid;
  position: relative;
  left: 3px;
  padding: 0px;
  margin: 4px;
}
*/

/*

#small-box-1 img {
  width: 500px;
  height: auto;
  /*  position: relative; */
/*  left: 210px;  */ /*
  border: #3eb7de;
  border-style: solid;
  padding: 0px;
  margin: 4px;
}

*/
