* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0a2730;
  height: 145px;
  width: auto;
  /*  padding: 35px 35px;  */
}

/*

#paul-photo {
  max-width: 20%;
  height: auto;
  display: inline;
  position: relative;
}

*/

#square {
  width: 300px;
  height: 55px;
  background: #3eb7de;
  position: relative;
  top: 60px;
  left: 20px;
  border: white;
  border-style: solid;
  border-width: 1px;
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  color: #0a2730;
  margin: 0;
  position: relative;
  top: 9px;
  left: 30px;
}

header nav {
  float: right;
  margin: 1px 0;
}

header ul {
  list-style-type: none;
  width: 500px;
}

header li {
  font-size: 25px;
  width: 450px;
  color: #3eb7de;
}

header a {
  color: #3eb7de;
  text-decoration: none;
}

header ul li a {
  border-bottom: #3eb7de;
  border-style: solid;
  border-width: 3px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 10px;
  font-weight: bold;
  font-size: 22px;
  padding: 5px;
  position: relative;
  top: -30px;
  /* justify-content: space-around; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e4e9eb;
}

/* 

#image-box-text-1,
.image img {
  max-width: 100%;
  height: auto;
  border: solid;
  border-color: white;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  position: relative;
  bottom: 80px;
}

*/

#image-box-text-1 {
  height: 25vw;
  background-image: url("images/road.jpg");
  background-size: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image img {
  max-width: 100%;
  height: auto;
  border: solid;
  border-color: white;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  position: relative;
  bottom: 80px;
}

#square-2 {
  width: 380px;
  height: 60px;
  background: #3eb7de;
  margin-top: 130px;
  /* margin-top: -200px; */
  /* float: right; */
  /* position: relative;
  padding: 0px;
  top: 270px;
  right: 20px;
  border: white;
  border-style: solid;
  border-width: 1px;
  z-index: 1; */
}

#full-stack {
  font-weight: bold;
  font-size: 35px;
  /* z-index: 2;
  position: relative;
  top: 10px;
  left: 15px; */
}

/*      

.content {
  position: relative;
  bottom: 40px;
}

*/

section {
  height: 300px;
  background-color: #e4e9eb;
  color: black;
  font-size: 40px;
  padding: 20px;
}

.section-heading h3 {
  display: inline;
  position: relative;
  border: #3eb7de;
  border-style: solid;
  padding: 10px;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  margin: 5px;
}

section ul li {
  display: inline;
  padding: 20px;
}

#about-me {
  position: relative;
  bottom: 10px;
  height: 150px;
}

/*

#about-me img {
  max-width: 20%;
  height: auto;
  display: inline;
  position: relative;
  left: 20px;
  bottom: 20px;
  border: #2094c2;
  border-style: solid;
  z-index: 1;
}

*/

#about-me p {
  position: relative;
  bottom: 65px;
  left: 40px;
  width: 1000px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 50px;
}

/*
#about-me p {
  display: inline;
  border-left: 75px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 50px;
}
*/

.items {
  width: 75%;
  margin: 0 auto;
}

.small-box {
  width: 45%;
}

#big-box-a {
  display: block;
  position: relative;
  bottom: 0px;
}

#big-box-square {
  width: 360px;
  height: 60px;
  background: #3eb7de;

  position: relative;
  padding: 0px;
  bottom: 0px;
  border: white;
  border-style: solid;
  border-width: 1px;
  z-index: 1;
}

#big-box-square h4 {
  position: relative;
  left: 20px;
  top: 7px;
  text-decoration: none;
}

#big-box-square a {
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  color: #0a2730;
}

#work {
  height: 1000px;
  position: relative;
  bottom: 40px;
}

#work-heading {
  position: relative;
  right: 290px;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
}

#big-box {
  /* background: red; */
  background-image: url("images/project1.jpeg");
  height: 350px;
  width: 80%;
  border: solid 4px rgb(2, 190, 175);
}

#big-box img {
  max-width: 91%;
  height: auto;
  /*  align-items: center; */
  border: #3eb7de;
  border-style: solid;
  position: relative;
  left: 3px;
  padding: 0px;
  margin: 4px;
}

.small-box img {
  width: 100%;
  height: auto;
  /*  position: relative;
  left: 210px;  */
  border: #3eb7de;
  border-style: solid;
}

#small-box-2 img {
  width: 500px;
  height: auto;
  /*  position: relative;
  right: -700px;
  bottom: 220px; */
  border: #3eb7de;
  border-style: solid;
  padding: 0px;
  margin: 4px;
}

#run-buddy img {
  width: 500px;
  height: auto;
  border: #3eb7de;
  border-style: solid;
  padding: 0px;
  margin: 4px;
}

#refactor img {
  width: 500px;
  height: auto;
  border: #3eb7de;
  border-style: solid;
  padding: 0px;
  margin: 4px;
}

#contact-me {
  height: 150px;
}

/*
#contact-me h3 {
}

*/

#contact-me ul {
  position: relative;
  top: 15px;
  margin: 1, 150px;
  text-align: center;
}

#contact-me ul li {
  justify-content: space-between;
  margin: 10px;
  position: relative;
  bottom: 20px;
}

#contact-me ul li a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  display: inline;
  margin: 1, 1px;
  justify-content: space-around;
  border: solid 3px #2094c2;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

#resume {
  height: 150px;
}

#resume a {
  text-decoration: none;
  color: #2094c2;
  font-size: 40px;
}

#resume img {
  max-width: 150px;
  display: inline;
  position: relative;
  border: solid 3px #2094c2;
  bottom: 40px;
}

#resume p {
  position: relative;
  bottom: 150px;
  left: 190px;
}

footer {
  background: #274149;
  width: 100%;
  padding: 40px 35px;
}

footer p {
  float: right;
  line-height: 1.5;
  text-align: right;
  color: #3eb7de;
}

footer h2 {
  color: #3eb7de;
}
