:root {
  --primary-color: #0a2730;
  --secondary-color: #3eb7de;
  --tertiary-color: #2094c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--primary-color);
  height: 145px;
  width: 100%;
  /* display: flex; */
  /*  padding: 35px 35px;  */
}

/*

#paul-photo {
  max-width: 20%;
  height: auto;
  display: inline;
  position: relative;
}

*/

#square {
  /* align-items: flex-end; */
  width: 300px;
  height: 50px;
  background: var(--secondary-color);
  position: relative;
  top: 60px;
  left: 10px;
  border: white;
  border-style: solid;
  border-width: 1px;
}

header h1 {
  font-weight: bold;
  /* font-size: 5vh; */
  font-size: 40px;
  color: var(--primary-color);
  margin: 0;
  position: relative;
  top: 9px;
  left: 30px;
}

header nav {
  float: right;
  margin: 1px 0;
}

header ul {
  list-style-type: none;
  width: 500px;
}

header li {
  font-size: 25px;
  width: 450px;
  color: var(--secondary-color);
}

header a {
  color: var(--secondary-color);
  text-decoration: none;
}

header ul li a {
  border-bottom: var(--secondary-color);
  border-style: solid;
  border-width: 3px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 10px;
  font-weight: bold;
  font-size: 22px;
  padding: 5px;
  position: relative;
  top: -30px;
  /* justify-content: space-around; */
}

header nav ul li a:hover {
  background: var(--tertiary-color);
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e4e9eb;
  width: 100%;
}

/* 

#image-box-text-1,
.image img {
  max-width: 100%;
  height: auto;
  border: solid;
  border-color: white;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  position: relative;
  bottom: 80px;
}

*/

#image-box-text-1 {
  height: 25vw;
  background-image: url("images/road.jpg");
  background-size: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 35px;
}

.image img {
  max-width: 100%;
  height: auto;
  border: solid;
  border-color: white;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  position: relative;
  bottom: 80px;
}

#square-2 {
  width: 380px;
  height: 60px;
  /* width: 27%;
  height: 15%; */
  background: var(--secondary-color);
  margin-top: 130px;
  /* margin-top: -200px; */
  /* float: right; */
  /* position: flex;
  align-items: flex-end; */

  /* top: 40px;
  right: 20px; */
  padding: 0px;
  border: white;
  border-style: solid;
  border-width: 1px;
  /* z-index: 1; */
}

#full-stack {
  position: relative;
  color: var(--primary-color);
  top: 10px;
  left: 15px;
  font-weight: bold;
  font-size: 35px;
  /* z-index: 2;
  position: relative;
  top: 10px;
  left: 15px; */
}

/*      

.content {
  position: relative;
  bottom: 40px;
}

*/

section {
  height: 300px;
  background-color: #e4e9eb;
  color: black;
  font-size: 40px;
  padding: 20px;
}

.column-1 {
  /* width: 25%; */
  text-align: left;
}

.section-heading h3 {
  display: inline;
  position: relative;
  border: var(--secondary-color);
  border-style: solid;
  padding: 10px;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  margin: 5px;
}

section ul li {
  display: inline;
  padding: 20px;
}

#about-me {
  display: flex;
  justify-content: flex-start;
  /* flex-direction: row; */
  /* position: relative;
  bottom: 10px;
  height: 200px; */
}

#about-me-tx-pic {
  display: flex;
  /* justify-content: flex-end; */
  /*align-content: space-between; */
}

#about-me-p {
  width: 800px;
  display: flex;
  margin-top: 50px;
  /* position: relative;
  top: 15px;
  right: 15px; */
  /* left: 120px; */
  /* bottom: 100px; */
}

#paul-photo-1 {
  width: 200px;
}

#paul-photo-1 img {
  width: 200px;
  height: auto;
  border: var(--tertiary-color);
  border-style: solid;
  border-width: 1px;
  /* margin-right: 200px; */
  /* margin-left: 40px; */
  /* justify-content: flex-start; */
  /* position: relative;
  left: 45px;
  bottom: 65px; */
}

/*

#about-me img {
  max-width: 20%;
  height: auto;
  display: inline;
  position: relative;
  left: 20px;
  bottom: 20px;
  border: #2094c2;
  border-style: solid;
  z-index: 1;
}

*/

#about-me p {
  font-size: 30px;
  /* position: relative;
  bottom: 65px;
  left: 40px; */
  /* width: 1000px; */
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 50px;
}

/*
#about-me p {
  display: inline;
  border-left: 75px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 50px;
}
*/

.items {
  width: 70%;
  margin: 0 auto;
}

.small-box {
  width: 49%;
  margin: 0 auto;
  padding: 0;
}

/* .small-box {
  width: 50px;
  height: 30px;
  background: #3eb7de; 
} */

#big-box-a {
  color: var(--primary-color);
  text-decoration: none;
  display: block;
  position: relative;
  bottom: 0px;
  margin-bottom: 10px;
}

#big-box-square {
  width: 360px;
  height: 60px;
  background: var(--secondary-color);
  position: relative;
  padding: 2px;
  top: 250px;
  left: 15px;
  border: white;
  border-style: solid;
  border-width: 1px;
  z-index: 1;
}

#big-box-square:hover {
  background: var(--tertiary-color);
  color: white;
}

#big-box-square h4 {
  position: relative;
  left: 20px;
  top: 7px;
  text-decoration: none;
}

#big-box-square a {
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  color: var(--primary-color);
}

/* #items big-box {
  margin: 10px;
} */

#work {
  height: 900px;
  position: relative;
  bottom: 40px;
}

/* #work-heading {
  position: relative;
  right: 290px;
} */

#boxes {
  width: 83%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
}

#big-box {
  /* background: red; */
  background-image: url("images/project1.jpeg");
  height: 350px;
  width: 100%;
  position: relative;
  /* left: 15px; */
  /* position: flex;
  align-items: flex-end; */
  margin: 8px;
  border: solid 4px var(--secondary-color);
}

#big-box img {
  max-width: 100%;
  height: auto;
  /*  align-items: center; */
  border: var(--secondary-color);
  border-style: solid;
  /* position: relative;
  left: 3px; */
  padding: 0px;
  margin: 3px;
  margin-bottom: 0px;
}

.small-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 49%;
  height: 200px;
  background-size: cover;
  border: var(--secondary-color);
  border-style: solid;
  /* border-width: 3px; */
}

.small-box img {
  /* background-image: url("images/project2.jpg"); */
  width: 100%;
  height: auto;
  /*  position: relative;
  left: 210px;  */
  border: var(--secondary-color);
  border-style: solid;
}

#small-box-1 {
  background: url("images/project2.jpg");
  background-size: cover;
  margin: 3px;
  /* margin-right: 0px;
  margin-left: 0px;  */
}

#small-box-a {
  color: var(--primary-color);
  text-decoration: none;
  display: block;

  /* position: relative;
  bottom: 0px; */
  margin-bottom: 10px;
}

#small-box-square {
  width: 150px;
  height: 75px;
  background: var(--secondary-color);
  /* position: relative; */
  padding: 2px;
  /* top: 250px;
  left: 15px; */
  border: white;
  border-style: solid;
  border-width: 1px;
  z-index: 1;
}

#small-box-square:hover {
  background-color: var(--tertiary-color);
  color: white;
}

#small-box-square h4 {
  position: relative;
  left: 20px;
  top: 5px;
  text-decoration: none;
  font-size: 25px;
}

#small-box-square a {
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
}

/* End of first small box*/

#small-box-2 {
  background: url("images/computer.jpg");
  background-size: cover;
  margin: 3px;
  /* margin-left: 0px;
  margin-right: 0px;  */
}

#small-box-a-2 {
  color: var(--primary-color);
  text-decoration: none;
  display: block;

  /* position: relative;
  bottom: 0px; */
  margin-bottom: 10px;
}

#small-box-square-2 {
  width: 150px;
  height: 75px;
  background: var(--secondary-color);
  position: relative;
  padding: 2px;
  /* top: 250px;
  left: 15px; */
  border: white;
  border-style: solid;
  border-width: 1px;
  z-index: 1;
}

#small-box-square-2:hover {
  background-color: var(--tertiary-color);
  color: white;
}

#small-box-square-2 h4 {
  position: relative;
  left: 20px;
  top: 7px;
  text-decoration: none;
  font-size: 25px;
}

#small-box-square-2 a {
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
}

/*End of second small box*/

#small-box-3 {
  background: url("images/run-buddy-photo.jpg");
  background-size: cover;
  margin: 3px;
}

#small-box-a-3 {
  color: var(--primary-color);
  text-decoration: none;
  display: block;

  /* position: relative;
  bottom: 0px; */
  margin-bottom: 10px;
}

#small-box-square-3 {
  width: 150px;
  height: 75px;
  background: var(--secondary-color);
  position: relative;
  padding: 2px;
  /* top: 250px;
  left: 15px; */
  border: white;
  border-style: solid;
  border-width: 1px;
  z-index: 1;
}

#small-box-square-3:hover {
  background: var(--tertiary-color);
  color: white;
}

#small-box-square-3 h4 {
  position: relative;
  left: 5px;
  top: 20px;
  text-decoration: none;
  font-size: 25px;
}

#small-box-square-3 a {
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
  color: #0a2730;
}

/* End of third small box */

#small-box-4 {
  background: url("images/refactor-photo.jpg");
  background-size: cover;
  margin: 3px;
}

#small-box-a-4 {
  color: var(--primary-color);
  text-decoration: none;
  display: block;

  /* position: relative;
  bottom: 0px; */
  margin-bottom: 10px;
}

#small-box-square-4 {
  width: 150px;
  height: 75px;
  background: var(--secondary-color);
  position: relative;
  padding: 2px;
  /* top: 250px;
  left: 15px; */
  border: white;
  border-style: solid;
  border-width: 1px;
  z-index: 1;
}

#small-box-square-4:hover {
  background: var(--tertiary-color);
  color: white;
}

#small-box-square-4 h4 {
  position: relative;
  left: 20px;
  top: 7px;
  text-decoration: none;
  font-size: 25px;
}

#small-box-square-4 a {
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
  color: #0a2730;
}

/* End of fourth small box */

/*

/* #small-box-2 img {
  width: 500px;
  height: auto;
  /*  position: relative;
  right: -700px;
  bottom: 220px; was commented before*/
/*border: #3eb7de;
  border-style: solid;
  padding: 0px;
  margin: 4px;
}

#run-buddy img {
  width: 500px;
  height: auto;
  border: #3eb7de;
  border-style: solid;
  padding: 0px;
  margin: 4px;
}

#refactor img {
  width: 500px;
  height: auto;
  border: #3eb7de;
  border-style: solid;
  padding: 0px;
  margin: 4px;
} */

/* #contact-me {
  height: 200px; */
/* } */

/*
#contact-me h3 {
}

*/

/* #contact-me ul { */
/* position: relative; */
/* top: 15px; */
/* margin: 1, 150px; */
/* display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 50px; */
/*
   text-align: center; 
} */

#contact-me {
  height: 200px;
}

#contact-links {
  /* display: flex;
  align-items: center; */
  text-align: left;
  margin-left: 300px;
  position: relative;
  bottom: 40px;
  /* margin-bottom: 400px;

  /* display: flex; */
  /* justify-content: flex-start; */
  /* width: 1000px; */
  /* float: center; */

  /* float: center; */
  /* display: flex;
  align-items: flex-end; */
}

/* #contact-me ul {
  display: inline;
  float: right;
  display: flex;
  align-items: flex-start; */
/* } */

/* #contact-me ul li { */
/* justify-content: space-between; */
/* margin: 10px; */
/* position: relative;
  bottom: 60px;
  left: 100px; */
/* display: inline;
  float: right;
  display: flex; */

/* justify-content: center; */
/* margin-bottom: 50px; */
/* } */

#contact-me ul li a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  /* display: inline; */
  margin: 1, 5px;
  /* justify-content: space-around; */
  border: solid 3px var(--tertiary-color);
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

#contact-me ul li a:hover {
  color: white;
  background: var(--tertiary-color);
}

#resume {
  height: 150px;
}

/* .paul-photo-resume {
  background-image: url("/images/Paul.jpeg");
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#paul-photo {
  display: flex;
  align-items: flex-start;
} */

#resume-p {
  font-size: 30px;
  position: relative;
  left: 250px;
  bottom: 50px;
}

#resume a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 30px;
}

#resume a:hover {
  color: white;
  background: var(--tertiary-color);
}

/* #resume img {
  max-width: 150px;
  /* display: flex;
  justify-content: flex-start; */
/*position: relative;
  border: solid 3px #2094c2;
  bottom: 40px;
} */

/*#resume p {
   display: flex;
  justify-content: center;
} */

/* position: relative;
  bottom: 150px;
  left: 190px; */

footer {
  background: var(--primary-color);
  width: 100%;
  padding: 40px 35px;
}

footer p {
  float: right;
  line-height: 1.5;
  text-align: right;
  color: var(--secondary-color);
}

footer h2 {
  color: var(--secondary-color);
}

@media only screeen and (max-width: 768px) {
  header {
    width: 100%;
  }

  header h1 {
    flex-wrap: wrap;
    /* width: 10%; */
    text-align: center;
    font-size: 7px;
  }

  header nav ul li a {
    width: 300px;
  }

  #big-box {
    position: relative;
    /* flex-direction: column;
    flex-wrap: wrap; */
    width: 100%;
  }

  #big-box-square {
    width: 50%;
  }

  #big-box-square h4 {
    width: 50%;
  }

  #small-box-1 {
    position: relative;
    /* flex-direction: row;
    flex-wrap: wrap-reverse; */
    width: 100%;
  }

  #small-box-2 {
    position: relative;
    /* flex-direction: column;
    flex-wrap: wrap; */
    width: 100%;
  }

  #small-box-3 {
    position: relative;
    /* flex-direction: row;
    flex-wrap: wrap; */
    width: 100%;
  }

  #small-box-4 {
    position: relative;
    /* flex-direction: column;
    flex-wrap: wrap; */
    width: 100%;
  }

  footer {
    position: fixed;
    bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #sqaure h1 {
    /* flex-wrap: wrap;
    flex-direction: column; */
    /* width: 10%; */
    /* text-align: center; */
    width: 60%;
  }

  #square {
    display: flex;
    align-items: flex-start;
    width: 60%;
    height: 30%;

    /* text-align: center; */
  }

  header nav ul {
    width: 450px;
  }

  #image-box-text-1 {
    width: 100%;
  }

  .column-1 {
    flex-direction: column;
    flex-wrap: wrap;
  }

  #about-me {
    flex-direction: column;
    flex-wrap: wrap;
  }

  #paul-photo-1 {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  #about-me-p {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  /* #items {
    margin-bottom: 40px;
    height: 1000px;
  } */

  #work {
    height: 1500px;
    position: relative;
  }

  #boxes {
    width: 100%;
  }

  #items {
    direction: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }

  #big-box {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  #big-box-square {
    width: 50%;
  }

  #big-box-square h4 {
    width: 50%;
  }

  #small-box-1 {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  #small-box-2 {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  #small-box-3 {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  #small-box-4 {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  /* #contact-me {
    margin: 100px;
  } */

  /* #contact-links {
    margin: 50px;
  } */

  footer {
    width: 100%;
  }
}
